* {
    box-sizing: border-box;
    margin: 0;
}

body {
    font-family: 'Nunito', sans-serif;
    background: linear-gradient(
        to bottom,
        rgba(100, 100, 100, 0.3) 0%,
        rgb(255, 255, 255) 40%,
        rgba(116, 116, 116, 0.2) 100%
    );
}

#main {
    height: 100vh;
    overflow: auto;
    padding: 10px;
}

#main .inactive {
    overflow: hidden;
}

[v-cloak] {
    display: none;
}

:focus {
    outline: none;
}
.container.images {
    display: flex;
    flex-wrap: wrap;
}

.image.upload {
    width: 300px;
    height: 300px;
    margin: 10px;
    padding: 10px;
    background-color: white;
    /* box-shadow: 10px 10px 0px 0px hsla(0, 0%, 0%, 0.25); */
}

.heading {
    margin-bottom: 10px;
    font-family: 'Nunito sans', sans-serif;
    text-transform: uppercase;
}

.image.upload form {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.image.upload form div {
    display: flex;
    justify-content: space-between;
    /* margin: 10px 0; */
}

input,
button {
    font: inherit;
    font-size: inherit;
    line-height: 20px;
    white-space: nowrap;
    text-decoration: none;
    /* margin-bottom: 10px; */
    cursor: pointer;
}

input[name='title'],
input[name='user'] {
    width: 135px;
    border-bottom: 1px solid grey;
}

input[type='file'] {
    /* margin-bottom: 10px; */
}
input[type='file']::-webkit-file-upload-button {
    visibility: hidden;
}
input[type='file']::before {
    margin-bottom: 10px;
}
input[type='file']::before,
button {
    content: 'select file';
    display: inline-block;
    background-color: #99ecce;
    border: 0;
    padding: 0.1em 0.5rem;
    outline: none;
    white-space: nowrap;
    -webkit-user-select: none;
    cursor: pointer;
    font-weight: 400;
    /* box-shadow: 3px 3px 0px 0px hsla(0, 0%, 0%, 0.25); */
}
input[type='file']:hover::before {
    border-color: black;
}
input[type='file']:active::before {
    background: -webkit-linear-gradient(top, #e3e3e3, #f9f9f9);
}
button {
    background-color: #ece999;
}

input[type='text'] {
    /* border: 1px solid gray; */
    /* border-radius: 0.15rem; */
    background: transparent;
    padding: 0.25rem 0.5rem;
    border: 0;
    /* border-bottom: 1px solid grey; */
}

textarea {
    flex-grow: 1;
    resize: none;
    width: 280px;
    font: inherit;
    font-size: inherit;
    padding: 0.25rem 0.5rem;
    margin-bottom: 10px;
    border: 0;
    /* border-bottom: 1px solid grey; */
    /* border-top: 1px solid grey; */
    background-color: #f1f1f1;
}

.card.image {
    width: 300px;
    height: 300px;
    background-color: transparent;
    perspective: 200vw;
    margin: 10px;
    font-size: 20px;
}

.inner {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    transition: transform 0.25s;
    transform-style: preserve-3d;
    transform-origin: center right;
}

.card.image:hover > .inner {
    transform: translateX(-100%) rotateY(180deg);
}

.front,
.back {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    -webkit-backface-visibility: hidden; /* Safari */
    backface-visibility: hidden;
}

.front {
    background-color: #bbb;
    color: black;
}

.front img {
    object-fit: cover;
    height: 300px;
}

.back {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 100%;
    padding: 10px;
    background-color: white;
    transform: rotateY(180deg);
    box-shadow: 10px 10px 0px 0px hsla(0, 0%, 0%, 0.25);
    /* text-align: center; */
}
.back .title {
    margin-bottom: 10px;
}
.back .description {
    flex-grow: 1;
    font-size: 16px;
    overflow: auto;
}
.back .details {
    /* font-size: 16px; */
    margin-top: 20px;
    text-align: right;
    /* padding: 0.25rem 0.5rem; */
    /* background-color: #ec999d; */
    text-align: right;
    text-decoration: none;
}

.more-images {
    height: 1em;
}

.more-images div {
    margin: 10px 10px 20px 10px;
    cursor: pointer;
    padding: 0.25rem 0.5rem;
    background-color: #ec999d;
    text-align: center;
}

.modal {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: #ffffff;
    overflow: auto;
}

.modal .wrapper {
    padding: 10px;
    display: flex;
    /* flex-direction: column; */
    flex-wrap: wrap;
    height: 90%;
    max-width: 100vw;
}
.modal .heading {
    margin: 10px;
}

.modal .wrapper .box {
    display: flex;
    flex-grow: 1;
    flex-wrap: wrap;
}

.modal .wrapper .box .info {
    /* flex-grow: 1; */
    min-width: 320px;
    max-width: 640px;
    margin: 10px;
}
.modal .info h2 {
    margin: 10px;
}
.modal .info p {
    margin: 10px;
}

.modal .author {
    margin: 10px;
    color: grey;
    font-style: italic;
    /* text-align: right; */
}

img[class] {
    width: 100%;
}

.modal .image {
    /* flex-shrink: 1; */
    height: 62%;
    margin: 10px;
}

.modal img {
    object-fit: cover;
    height: 100%;
    width: 100%;
}

.modal .close {
    content: 'X';
    position: absolute;
    top: 20px;
    right: 20px;
    width: 40px;
    height: 40px;
    text-align: right;
    font-size: 30px;
    font-weight: 900;
    cursor: pointer;
}

.comment-wrapper {
    /* border: 1px solid black; */
    flex-grow: 1;
    max-width: 640px;
    margin: 10px;
}

.comment {
    display: flex;
    /* flex-direction: column; */
    justify-content: space-between;
}

.comments div {
    /* overflow: scroll; */
}
.comments table {
    width: 100%;
}

.comments th:nth-child(1) {
    width: 60%;
}
.comments tr:nth-child(even) {
    background-color: #f7f7f7;
}

.comments table th {
    text-align: left;
    text-transform: uppercase;
    border-bottom: 1px solid grey;
}
.comments table td {
    padding: 0.25rem 0.5rem;
}
.comments table .comment-form td {
    padding: 0;
}
